{% extends 'registration/password_reset_base.html' %}

{% load static %}
{% load i18n %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="login-wrap p-0 rounded-card" style="background-color: rgba(224, 224, 212, 0.18); padding: 30px;">
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center" style="color: #ffffff;">Password Reset Sent</h2>
        <p class="text-center">Instructions for resetting your password have been sent to your email address</p>
    </form>
</div>
{% endblock %}



