{% load static %}

{% load custom_tags %} 


{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch Menu System</title>
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/rem-fonts.css' %}">
</head>
<body>

    <div class="header">
      <div class="nav">
        <div class="logo"><img src="{% static 'img/logo.png' %}" width="100px" height="80px"></div> 
        <div class="nav-links">
            <ul>
                <li class="{% if request.path == '/book/' %}active{% endif %}">
                    <a href="{% url 'book' %}">Book</a>
                </li>
                <li class="{% if request.path == '/selection/' %}active{% endif %}"><a href="{% url 'selection' %}">Selection</a></li>
                {% if user.is_superuser %}
                <li class="{% if request.path == '/orders/' %}active{% endif %}"><a href="{% url 'orders' %}" >Orders</a></li>
                <li class="{% if request.path == '/menu/' %}active{% endif %}"><a href="{% url 'menu' %}" >Foods</a></li>
                <li class="{% if request.path == '/users/' %}active{% endif %}"><a href="{% url 'users' %}" >Users</a></li>
                <li class="{% if request.path == '/menu_edit/' %}active{% endif %}"><a href="{% url 'menu_edit' %}">Edit Menu</a></li>
                <!-- <li class="{% if request.path == '/reports/' %}active{% endif %}"><a href="{% url 'reports' %}" >Reports</a></li> -->
                {% endif %}
                
                <div class="logout-btn-btn"><a href="{% url 'logout' %}"><button type="button">logout</button></a></div>

            </ul>
        </div>
        <div class="mobile-menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="mobile-nav-panel">
            <ul>
              <a href="{% url 'book' %}"><li class="{% if request.path == '/book/' %}active{% endif %}">Book</li></a>
              <a href="{% url 'selection' %}"><li class="{% if request.path == '/selection/' %}active{% endif %}">Selection</li></a>
              {% if user.is_superuser %}
              <a href="{% url 'orders' %}" ><li class="{% if request.path == '/orders/' %}active{% endif %}">Orders</li></a>
              <a href="{% url 'menu' %}" ><li class="{% if request.path == '/menu/' %}active{% endif %}">Foods</li></a>
              <a href="{% url 'users' %}" ><li class="{% if request.path == '/users/' %}active{% endif %}">Users</li></a>
              <a href="{% url 'menu_edit' %}"><li class="{% if request.path == '/menu_edit/' %}active{% endif %}">Edit Menu</li></a>
              {% endif %}
              
              <a href="{% url 'logout' %}"><li><button type="button" class="out-btn">Logout</button></a></li>

          </ul>
        </div>
          <div class="logout-btn"><a href="{% url 'logout' %}"><button type="button">logout</button></a></div>
    </div>

    <div class="hero">
        <div class="hero-item hero-top"><h2>EDIT</h2></div>
        <div class="hero-item hero-bottom"><h4>UPDATE SELECTION</h4></div>
    </div>
    </div>

    <form id="orderForm" method="post" action="{% url 'edit_selection' %}">
      {% csrf_token %}
  
      <div class="main">
          <div class="table-container">
              <div class="table-column">
                <div class="item-head"><strong>Main Foods</strong> </div>
                  {% for food_item in food_items %}
                      {% if food_item.foodType == "food" %}
                          <label id="{{ food_item.id }}" data_type="food_item" class="label-item {% if food_item|is_selected:user_orders %}selected{% endif %}">
                              {{ food_item.name }}
                          </label>
                      {% endif %}
                  {% endfor %}
              </div>
              <div class="table-column">
                <div class="item-head"><strong>Sauces</strong></div>
                {% for food_item in food_items %}
                    {% if food_item.foodType == "sauces" %}
                        <label id="{{ food_item.id }}" data_type="sauces_item" class="label-item {% if food_item|is_selected:user_orders %}selected{% endif %}">
                            {{ food_item.name }}
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="table-column">
                <div class="item-head"><strong>Extras</strong></div>
                {% for food_item in food_items %}
                    {% if food_item.foodType == "drinks" %}
                        <label id="{{ food_item.id }}" data_type="drinks_item" class="label-item {% if food_item|is_selected:user_orders %}selected{% endif %}">
                            {{ food_item.name }}
                        </label>
                    {% endif %}
                {% endfor %}
          </div>

          </div>
          <input type="hidden" id="food_item_selected" name="food_item_selected" value="">
          <div class="btn">
            <button type="button" onclick="validateSelection();">Update</button>
            <!-- <button type="submit" onclick="get_good_items(); submitForm();">Update</button> -->
        </div>
      </div>
  </form>
    

<script>

document.addEventListener("DOMContentLoaded", function() {
        const mobileMenuIcon = document.querySelector(".mobile-menu-icon");
        const mobileNavPanel = document.querySelector(".mobile-nav-panel");

        mobileMenuIcon.addEventListener("click", function() {
            mobileNavPanel.classList.toggle("show");
            mobileMenuIcon.classList.toggle("open"); // Toggle the "open" class
        });

    });
  
  
  </script>
  
    
  <script>
    function submitForm(selectedItems) {
        // Set the value of the hidden input field with the selected items
        $("#food_item_selected").val(selectedItems);
        // Submit the form
        $("#orderForm").submit();
    }

    function validateSelection() {
    var mainFoodsSelected = $('[data_type="food_item"].selected').length;
    var saucesSelected = $('[data_type="sauces_item"].selected').length;
    var drinksSelected = $('[data_type="drinks_item"].selected').length;

    if (mainFoodsSelected === 0 || saucesSelected === 0) {
        alert("Please select at least one Main Food and one Sauce.");
    } else {
        // Gather selected items
        var selectedItems = [];
        var selectedFoods = $('[data_type="food_item"].selected');
        var selectedSauces = $('[data_type="sauces_item"].selected');
        var selectedDrinks = $('[data_type="drinks_item"].selected');

        // Push selected food item IDs
        if (selectedFoods.length > 0) {
            $.each(selectedFoods, function(key, value) {
                selectedItems.push(value.id);
            });
        }

        // Push selected sauce item IDs
        if (selectedSauces.length > 0) {
            $.each(selectedSauces, function(key, value) {
                selectedItems.push(value.id);
            });
        }

        // Push selected drink item IDs if there are any
        if (selectedDrinks.length > 0) {
            $.each(selectedDrinks, function(key, value) {
                selectedItems.push(value.id);
            });
        }

        // Call the function to submit the form with the selected items
        submitForm(selectedItems);
    }
}


    // ... (rest of your script)
</script>


<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
  
</body>
</html>

{% endblock content %}